a.formview-compoundlist-button-add, a.formview-compoundlist-button-delete {
    border: 0;
    cursor: pointer;
    float: left;
    height: 16px;
    margin-right: 0px;
    width: 16px;
    margin-top: 2px;
}
a.formview-compoundlist-button-add { background: url('../img/std.form.gif') no-repeat 0 0; }
a.formview-compoundlist-button-delete { background: url('../img/std.form.gif') no-repeat 0 -26px; }
div.formview-buttonpanel {
    text-align: center;
    vertical-align: top;
    height: 0px;
    overflow: hidden;
    display: block;
    padding-top: 10px;
}
div.formview-buttonpanel-container {
    margin: 0px;
    padding: 10px;
    height: 40px;
    overflow: hidden;
    padding: 5px;
}
div.formview-compoundlist-item { display: block; margin-top: 4px; }
div.formview-compoundlist-item input {
    border-top-style: none;
    border-top-width: 0px;
    background-color: #dfdfdf;
}
div.formview-content {
    display: block;
    overflow: auto;
    padding-bottom: 20px;
    border: 1px solid #d8d8d8;
    background-color: #fafafa;
    border-top: none;
    border-left: none;
}
div.formview-content div.sidebyside
{
    float: left;
    width: 50%;
    clear: right;
}
div.formview-datetime input { margin-bottom: 2px; }
div.formview-field-container { float: left; }
div.formview-filefield-container { text-align: center; }
div.formview-formsection { clear:both; float:none; margin: 0; padding: 0; border-style: none; }
div.formview-formsection-buttonpanel {
    border-top: 1px solid #D8D8D8;
    margin: 12px 10px 0px 10px;
    padding: 4px;
    height: 28px;
    clear:both;
    float:none;
}
div.formview-formsection-buttonpanel input.formview-button {
    display: block;
    min-width: 60px;
    float: right;
}
div.formview-formsection-caption {
    border-bottom: 1px solid #d8d8d8;
    font-size: 11px;
    font-weight: normal;
    margin: 10px;
    padding: 4px;
    color: #555;
    display: block;
    line-height: 14px;
    height: 14px;
    cursor: default;
    background-image: url('../img/std.form.section.caption.gif');
    background-repeat: no-repeat;
    padding-left: 22px;
    padding-top: 2px;
}
div.formview-listcompound-item input { margin-bottom: 2px; }
div.formview-loadingbar {
    background-image: url('../img/std.form.loading-bar.gif');
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
form.formview { text-align: left; font-size: 12px; }
form.formview table {
    border-collapse: collapse;
    margin: 0;
    margin-top: 10px;
    border-spacing: 0;
    border-width: 0;
    border-style: none;
    width: 100%;
}
form.formview table tr td {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    line-height: 22px;
}
form.formview table tr td img { border-style: none; }
form.formview table tr td label { font-size: 12px; color: #000; }
form.formview table tr td.fieldlabel { text-align: right; padding-right: 8px; width: 40%; }
form.formview table tr td.richtexthelp { padding: 2px; padding-left: 10px; font-size: 10px; color: #686868; line-height: 18px; }
form.formview table tr td.richtextlabel { padding: 4px; padding-left: 10px; }
form.formview table tr td div.formview-checkbox-helpmessage { text-align: left; margin: 4px; margin-top: 0;  padding: 4px; font-size: 11px; background-color: #fcfcfe; border: 1px solid #d2d2d2; line-height: 1.1em; width: 50%; }
td.richtextlabel span, td.fieldlabel span {
    font-size: 12px;
    color: #339933;
    font-weight: bold;
    cursor: default;
    white-space: nowrap;
}
iframe.formview-filefield-iframe { width: 1px; height: 1px; display: none; }
input.formview-compoundlist {
    width: 14.6em;
    padding: 3px;
    border: 1px solid #bbb;
    width: 12.6em;
    margin-right: 4px;
    float: left;
}
input.formview-textfield, input.formview-time, textarea.formview-textarea {
    width: 14.6em;
    padding: 3px;
    border: 1px solid #bbb;
}
span.formview-textblock { display: block; margin: 10px; line-height: 130%; }
span.formview-textblock li {
    background-image: url('../img/std.form.section.caption.gif');
    background-repeat: no-repeat;
    padding-left: 22px;
    padding-top: 2px;
    list-style-type: none;
}
textarea.formview-textarea { height: 6.8em; }
form.formview table tr td.formview-richtext-container { padding: 10px; padding-top: 0; padding-bottom: 0; }
.nicEdit-button { background-image: url('../img/std.form.richtext.gif'); }
div.formview-multiselector-select-title { font-weight: bold; text-align: center; margin: 2px; }
div.formview-multiselector-select {
    width: 95%;
    margin: auto;
    height: 100px;
    overflow: auto;
    border: 1px solid #BBBBBB;
    background-color: #fff;
}
div.formview-multiselector-option { cursor: pointer; text-align: left; padding: 4px; }
div.formview-multiselector-option-selected { font-weight: bold; background-color: #EEEEEE; }
div.formview-multiselector-option-hover { background-color: #DDDDDD; }
div.formview-multiselector-button { border: 1px outset #999999; }
table.formview-multiselector-table td.formview-multiselector-buttoncontainer { width: 10%; vertical-align: middle; text-align: center; }
table.formview-multiselector-table td.formview-multiselector-buttoncontainer a.formview-button { line-height: 32px; }
table.formview-multiselector-table td.formview-multiselector-selectcontainer { width: 45%; }
select.formview-select-month { width: 103px !important; }
select.formview-select-year { width: 67px !important; margin-left: 9px; }
label.formview-checkbox-caption { padding: 0 4px; }
div.formview-checkboxgroup-item { }